.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/

.ipynb_checkpoints/


*.pyc
*.p
*.pkl 

*/.floyd*

z_colleagues
_localonly
.idea/
*/.idea/*
*.hdf5
*.jpg
*.npz
*.png
*.npy
transfer-learning/codes
transfer-learning/labels
*.csv
*.jpeg
save.data
save.data-00000-of-00001
save.meta
*.gz
*.mat
*.zip
